{% extends 'base.html' %}

{% block title %}Your Note{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <div class="card">
            <div class="card-header">
                <h4>Your Saved Note</h4>
            </div>
            <div class="card-body">
                <pre>{{ note_content }}</pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}